<section class="m-4">
  <div class="mb-8 flex flex-wrap justify-between gap-8">
    <h2 class="text-4xl font-bold">Product management</h2>
    <div class="grow text-right">
      <button class="btn btn-primary" (click)="addProduct()">
        <svg-icon src="icons/add-circle-line.svg" svgClass="h-6 w-6" />
        Add product
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-4 overflow-x-auto">
    <div class="m-1 flex flex-wrap justify-between gap-4">
      <label class="input input-bordered flex items-center gap-2">
        <input
          type="text"
          class="grow"
          placeholder="Search"
          [formControl]="search"
        />
        <svg-icon src="icons/search-line.svg" svgClass="h-4 w-4" />
      </label>
      <app-paginator
        [currentPage]="currentPage()"
        [lastPage]="lastPage()"
        (changePage)="changePage($event)"
      ></app-paginator>
    </div>
    <div class="overflow-x-auto">
      <table class="table table-zebra table-pin-rows">
        <thead>
          <tr>
            <td>Designation</td>
            <td>Description</td>
            <td>Category</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          @for (
            product of productService.productList()?.data;
            track product.id
          ) {
            <tr>
              <td class="text-ellipsis">
                {{ product.designation.slice(0, 50) }}
              </td>
              <td class="overflow-hidden text-ellipsis">
                {{ product.description?.slice(0, 120) }}
              </td>
              <td class="">{{ product.category }}</td>
              <td class="flex gap-2">
                <div class="tooltip" data-tip="Edit user">
                  <button
                    class="btn btn-outline btn-secondary btn-sm"
                    (click)="editProduct(product.id)"
                  >
                    <svg-icon src="icons/edit-line.svg" svgClass="h-4 w-4" />
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
