<footer
  class="footer items-center border-t bg-base-100 p-4 text-neutral-content"
>
  <aside class="grid-flow-col items-center">
    <svg-icon src="icons/terminal-line.svg" svgClass="h-10 w-10" />
    <p>
      Copyright © {{ date }} - Created by
      <a class="link-primary" href="https://joffreylagut.fr">Joffrey Lagut</a>
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a>
      <svg-icon src="icons/github-fill.svg" svgClass="h-8 w-8" />
    </a>
  </nav>
</footer>
