<div class="flex">
  <div
    class="flex h-dvh w-96 flex-col gap-4 border-r-2 border-blue-100 bg-blue-300"
  >
    <h1 class="mx-auto mt-4 max-w-52">
      <img src="logo-small.png" alt="Product Categorization" />
    </h1>
    <div class="flex gap-3 border-y-2 border-blue-100 p-3">
      <img src="user.png" alt="User avatar" class="h-14" />
      <div class="flex flex-col place-content-center">
        <span class="text-ellipsis">Herve Dumon</span>
        <span class="text-ellipsis">ACME Corporation</span>
      </div>
    </div>
    <ol class="mx-4">
      <li class="mb-2 text-sm font-light uppercase">Dashboard</li>
      <li class="flex"><img src="home.svg" alt="Home icon" />Home</li>
      <li class="flex">
        <img src="chart-pie.svg" alt="Pie chart icon" /> Data visualization
      </li>
      <li class="flex">
        <img src="battery.svg" alt="Battery icon" />Model performance
      </li>
    </ol>

    <ol class="mx-4">
      <li class="mb-2 text-sm font-light uppercase">Categorization</li>
      <li class="flex">
        <img src="brain.svg" alt="Brain icon" />Categorize a product
      </li>
    </ol>

    <ol class="mx-4">
      <li class="mb-2 text-sm font-light uppercase">Administration</li>
      <li class="flex"><img src="users.svg" alt="Users icon" />Users</li>
      <li class="flex"><img src="barcode.svg" alt="Barcode icon" />Products</li>
    </ol>

    <ol class="mx-4 mb-10 grow place-content-end">
      <li class="flex"><img src="logout.svg" alt="Close icon" />Logout</li>
    </ol>
  </div>
  <div class="container mx-2">
    <h2 class="text-ellipsis text-3xl font-bold">Page content</h2>
    <div></div>
  </div>
</div>
