<div class="bg-base-200">
  <div
    class="hero h-[30rem]"
    style="background-image: url(/conveyor-unsplash.jpg)"
  >
    <div class="hero-overlay bg-opacity-70"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-lg">
        <h2 class="mb-5 text-5xl font-bold">Meet ClassiNet</h2>
        <p class="mb-5">
          The e-commerce product classification platform powered by AI!<br />
          Enhance your user experience by predicting the category of the product
          they want to sell and improve your data quality.
        </p>
        <a
          href="https://github.com/JoffreyLGT/ClassiNet"
          class="btn btn-primary"
          >Get Started</a
        >
      </div>
    </div>
  </div>

  <!-- What is ClassiNet Section -->
  <section class="m-4 py-16">
    <div class="container mx-auto">
      <h2 class="mb-10 text-center text-4xl font-bold">What is ClassiNet?</h2>
      <p class="mb-12 text-center text-lg">
        ClassiNet is a platform built to categorize your products.
      </p>
      <div class="grid gap-6 md:grid-cols-3">
        <div class="card bg-base-100 shadow-lg">
          <div class="card-body">
            <h3 class="mb-4 flex flex-row gap-2 text-lg font-bold">
              <svg-icon src="icons/database-line.svg" svgClass="h-6 w-6" /> Data
              management
            </h3>
            <p>
              Visualize and manage your products data with ease and efficiency.
            </p>
          </div>
        </div>
        <div class="card bg-base-100 shadow-lg">
          <div class="card-body">
            <h3 class="mb-4 flex flex-row gap-2 text-lg font-bold">
              <svg-icon src="icons/box-3-line.svg" svgClass="h-6 w-6" />
              Product categorization
            </h3>
            <p>
              Leverage the power of AI to predict the category of your products.
            </p>
          </div>
        </div>
        <div class="card bg-base-100 shadow-lg">
          <div class="card-body">
            <h3 class="mb-4 flex flex-row gap-2 text-lg font-bold">
              <svg-icon src="icons/brain-line.svg" svgClass="h-6 w-6" />
              Machine learning
            </h3>
            <p>
              Monitor the active model performance and train new models as
              needed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- How It Works Section -->
  <section class="bg-base-100 py-16">
    <div class="container m-4 mx-auto">
      <h3 class="mb-10 text-center text-4xl font-bold">How does it work?</h3>
      <ul class="steps steps-vertical w-full lg:steps-horizontal">
        <li class="step step-primary">
          Upload, analyze and<br />clean your products data
        </li>
        <li class="step step-primary">
          Train a model and check<br />its performance
        </li>
        <li class="step step-primary">
          Use the API to <br />categorize new produts
        </li>
        <li class="step step-secondary">Monitor your model's performance</li>
      </ul>
    </div>
  </section>

  <!-- Why Choose ClassiNet Section -->
  <section class="py-16">
    <div class="container mx-auto">
      <h3 class="mb-10 text-center text-4xl font-bold">
        Why choose ClassiNet?
      </h3>
      <div class="grid items-center gap-6 md:grid-cols-2">
        <div class="flex justify-center">
          <ul class="ml-10 list-disc text-lg">
            <li>Pre-trained model out of the box</li>
            <li>Intuitive interface for easy adoption</li>
            <li>Data visualization</li>
            <li>Model performance monitoring</li>
            <li>Model training</li>
            <li>Rest API</li>
            <li>Easy to scale</li>
            <li>Self hosted for privacy</li>
            <li>Open source</li>
          </ul>
        </div>
        <svg-icon
          src="icons/undraw-data-processing.svg"
          svgClass=" w-[25rem] h-[20rem]"
        />
      </div>
    </div>
  </section>

  <!-- Call-to-Action Section -->
  <section id="get-started" class="bg-base-100 py-20">
    <div class="container mx-auto text-center">
      <h3 class="mb-6 text-4xl font-bold">
        Start categorizing your products today!
      </h3>
      <p class="mb-8 text-lg">
        Install ClassiNet on your server, load your products and start using AI
        models!
      </p>
      <a href="https://github.com/JoffreyLGT/ClassiNet" class="btn btn-accent"
        >Try ClassiNet now →</a
      >
    </div>
  </section>
</div>
