<div class="mb-10 mt-0 flex xl:mt-5 xl:items-center xl:justify-center">
  <div class="card w-full bg-base-100 shadow-xl xl:w-2/3 2xl:w-1/2">
    <div class="card-body">
      <h2 class="card-title mb-6 text-2xl font-bold">
        {{ productId === null ? "New product" : "Edit product" }}
      </h2>
      @if (success) {
        <div role="alert" class="alert alert-success">
          <svg-icon src="icons/checkbox-circle-line.svg" svgClass="h-6 w-6" />
          <span>{{
            this.productId === null
              ? "Product has been added!"
              : "Product has been edited!"
          }}</span>
        </div>
      }
      @if (errorMessage !== null) {
        <div role="alert" class="alert alert-error">
          <svg-icon src="icons/error-warning-line.svg" svgClass="h-6 w-6" />
          <span>{{ this.errorMessage }}</span>
        </div>
      }
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="form-control">
            <div class="label">
              <span class="label-text">Designation*</span>
            </div>
            <textarea
              [class.input-error]="
                !productForm.controls['designation'].untouched &&
                productForm.controls['designation'].invalid
              "
              class="textarea textarea-bordered"
              formControlName="designation"
              rows="3"
              placeholder="Waterproof smartwatch..."
            ></textarea>
          </label>
        </div>
        <div class="form-control">
          <label class="form-control">
            <div class="label">
              <span class="label-text">Description</span>
            </div>
            <textarea
              [class.input-error]="
                !productForm.controls['designation'].untouched &&
                productForm.controls['designation'].invalid
              "
              class="textarea textarea-bordered"
              formControlName="description"
              rows="5"
              placeholder="A beautiful watch..."
            ></textarea>
          </label>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Category</span>
          </label>

          <select
            class="select select-bordered w-full"
            formControlName="category"
          >
            <option disabled value="">Select a category</option>
            @for (
              category of productService.categoryList();
              track category.id
            ) {
              <option value="{{ category.id }}">{{ category.name }}</option>
            }
          </select>
        </div>
        <div class="form-control mt-6">
          <button [disabled]="!productForm.valid" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
