<div class="mb-10 mt-0 flex xl:mt-5 xl:items-center xl:justify-center">
  <div class="card w-full bg-base-100 shadow-xl xl:w-2/3 2xl:w-1/2">
    <div class="card-body">
      <h2 class="card-title mb-6 text-2xl font-bold">
        {{ formMode === "add" ? "New product" : "Edit product" }}
      </h2>
      @if (success) {
        <div role="alert" class="alert alert-success">
          <svg-icon src="icons/checkbox-circle-line.svg" svgClass="h-6 w-6" />
          <span>{{
            formMode === "add"
              ? "Product has been added!"
              : "Product has been edited!"
          }}</span>
        </div>
      }
      @if (errorMessage !== null) {
        <div role="alert" class="alert alert-error">
          <svg-icon src="icons/error-warning-line.svg" svgClass="h-6 w-6" />
          <span>{{ this.errorMessage }}</span>
        </div>
      }
      <app-product-form
        [categories]="productService.categoryList()"
        [(product)]="productFormValues"
        (onSubmit)="onSubmit()"
      />
    </div>
  </div>
</div>
