<nav class="flex min-h-screen w-64 flex-col gap-4 bg-neutral">
  <h1 class="mx-auto mt-4">
    <img
      ngSrc="/classinet-logo-small.png"
      width="125"
      height="125"
      alt="Product Categorization"
      priority
    />
  </h1>

  <ul class="menu menu-sm rounded-box">
    @for (section of menu_items; track section.name) {
      <li class="my-2">
        <details open>
          <summary class="text-sm font-light uppercase">
            {{ section.name }}
          </summary>
          <ul>
            @for (item of section.items; track item.label) {
              <li>
                <a
                  routerLink="{{ item.link }}"
                  routerLinkActive="bg-base-300/30"
                  ariaCurrentWhenActive="page"
                >
                  <svg-icon
                    src="icons/{{ item.icon }}.svg"
                    svgClass="w-6 h-6"
                  />
                  {{ item.label }}</a
                >
              </li>
            }
          </ul>
        </details>
      </li>
    }
  </ul>
</nav>
